:root {
    --donePercentage: 3%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contents {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin: -40px -20px -20px -20px;
        flex-direction: column;
}
.range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin-top: 20px;
}
.range::-webkit-slider-runnable-track {
    background: #E2E8F0;
    border-radius: 10px;
    height: 7px;
    background-image: linear-gradient(#00B06E, #00B06E);
    background-size: var(--donePercentage) 100%;
    background-repeat: no-repeat;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #00B06E;
    height: 0px;
    width: 0px;    
}
.percentage {
    font-size: 12px;
    margin-left: 5px;
}