* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.spaceAround {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.click {
    cursor: pointer;
}
small {
    font-weight: lighter;
    font-size: 11px;
}
a {
    text-decoration: none;
}
.detailContainer {
    display: flex;
    flex-direction: column;
    background-color: #F1F5F9;
    padding: 10px 20px 40px 20px;
    border-radius: 8px;
    width: 100%;
    gap: 15px;
}