* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.spaceAround {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.click {
    cursor: pointer;
}
small {
    font-weight: lighter;
    font-size: 11px;
}
a {
    text-decoration: none;
}
h2 {
    width: 70%;
}
.search {
    padding: 20px 20px 20px 35px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #94A3B8;
}
.search:focus {
    border: 1px solid #94A3B8;
    outline: none;
}
.search::placeholder {
    font-weight: bolder;
    color: black;
    font-family: 'Gordita';
}