:root {
    --primary: #34A8FA;
    --litteText: #0F172A;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 40px 20px 20px 20px;
}
.contentHeading {
    font-size: 30px;
    font-weight: bolder;
    width: 90%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.form >p > a {
    text-decoration: none;
    color: var(--primary);
}
.form > input {
    border-radius: 8px;
    border: 1px solid black;
    color: var(--litteText);
    width: 100%;
    height: 45px;
    padding: 10px
}
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    text-align: center;
    right: 20px;
    left: 20px;
    gap: 30px;
}
.contButton {
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 100px 10px 100px;
    border-radius: 100px;
    border: none;
    /* width: 400px !important; */
}
:root {
    --primary: #34A8FA;
    --litteText: #0F172A;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 40px 20px 20px 20px;
}
.contentHeading {
    font-size: 30px;
    font-weight: bolder;
    width: 90%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.form >p > a {
    text-decoration: none;
    color: var(--primary);
}
.form > input {
    border-radius: 8px;
    border: 1px solid black;
    color: var(--litteText);
    width: 100%;
    height: 45px;
    padding: 10px
}
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    text-align: center;
    right: 20px;
    left: 20px;
    gap: 30px;
}
.contButton {
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 100px 10px 100px;
    border-radius: 100px;
    border: none;
    /* width: 400px !important; */
}
:root {
    --primary: #34A8FA;
    --litteText: #0F172A;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 40px 20px 20px 20px;
}
.contentHeading {
    font-size: 30px;
    font-weight: bolder;
    width: 90%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.form >p > a {
    text-decoration: none;
    color: var(--primary);
}
.form > input {
    border-radius: 8px;
    border: 1px solid black;
    color: var(--litteText);
    width: 100%;
    height: 45px;
    padding: 10px
}
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    text-align: center;
    right: 20px;
    left: 20px;
    gap: 30px;
}
.contButton {
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 100px 10px 100px;
    border-radius: 100px;
    border: none;
    /* width: 400px !important; */
}